<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/requests.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/page.js') }}"></script>
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <p><span>Title</span>
        {% if username %}
        <span class="tooltip">
          <abbr title="Log out">
            <a href="{{ url_for('main.logout') }}"><img src="{{ url_for('static', filename='icons/logout.png')}}" width="25"></a>
          </abbr>
        </span>
        <span class="tooltip">
          <a href="{{ url_for('main.settings') }}"><img src="{{ url_for('static', filename='icons/gear.png')}}" width="25"></a>
          <span class="tooltiptext">Settings</span>
        </span>
        <span class="tooltip">
          <a href="{{ url_for('main.people') }}"><img src="{{ url_for('static', filename='icons/people.png')}}" width="25"></a>
          <span class="tooltiptext">Followers</span>
        </span>
        <span class="tooltip">
          <a href="{{ url_for('main.profile') }}"><img src="{{ url_for('static', filename='icons/person.png')}}" width="25"></a>
          <span class="tooltiptext">Profile</span>
        </span>
        <span class="tooltip">
          <a href="{{ url_for('main.post') }}"><img src="{{ url_for('static', filename='icons/plus.png')}}" width="25"></a>
          <span class="tooltiptext">Post</span>
        </span>
        <span class="tooltip">
          <a href="{{ url_for('main.browse') }}"><img src="{{ url_for('static', filename='icons/eye.png')}}" width="25"></a>
          <span class="tooltiptext">Feed</span>
        </span>
        {% else %}
        <span class="tooltip not-link">
          <a href="{{ url_for('main.register') }}" class="hide-link">Register</a>
        </span>
        <span class="tooltip not-link">
          <a href="{{ url_for('main.login') }}" class="hide-link">Log in</a>
        </span>
        {% endif %}
      </p>
    </header>
    <div id="main-content" class="{% if username %}green{% else %}blue{% endif %}">
      {% block header %}{% endblock %}
      <div id="messages">{% if flash %}<p>{{ flash }}</p>{% endif %}</div>
      {% block content %}{% endblock %}
      <script src="{{ url_for('static', filename='scripts/mobile.js') }}"></script>
    </div>
  </body>
</html>
