{% extends 'base.html' %}

{% block header %}
<h1>Log in</h1>
{% endblock %}

{% block content %}
<form method="POST" id="login-form" class="card" spellcheck="false">
  <p><input type="text" name="username" required maxlength="24" placeholder="Username" autocomplete="off"></p>
  <p><input type="password" name="password" required placeholder="Password"></p>
  <p class="small">Don't have an account?  <a href="{{ url_for('main.register') }}">Register</a></p>
  <p><input type="submit" value="Log in" class="submit-button"></p>
</form>
{% endblock %}
